body{
    background-color: brown;
    color: darkred;
    display: flex block;
    justify-self: center;
    align-items: center;
}

h1{
    text-decoration: underline;
}

body{
    margin-top: 150px;
}

div *,#select {
    text-align: center;
}


#text{
    border-color: rgb(3, 1, 0);
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
}
#text:hover{
    transform: scale(1.1);
}
#select{
    font-size: larger;
    border: none;
    outline: none;
    border-radius: 5px;
}

#submit,#reset {
    margin: 10px;
    border-width: 3px;
    border-radius: 5px;
}



button:hover ,select:hover{
    transform: scale(1.1);
    background-color: rgb(97, 137, 247);
    cursor: pointer;
} 

#reset{
    display: flex;
    justify-content: center;
     margin: auto;
}




